



<ion-slides [options]="custom" class="ion-no-padding">
  <ion-slide>
      <ion-card style="background-image: url('https://picsum.photos/200?blur=2');">
        <footer align="left">
          <ion-card-title class="bold fs-16">Salmon Tartar</ion-card-title>
          <p class="fs-10">Tets uhdsb hjksd hjb sdhj jkTets </p>
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="7" class="bold ">120 UAH</ion-col>
            <ion-col size="5" align="right" class="bold">
              4.7
            </ion-col>
          </ion-row>
        </footer>
      </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card style="background-image: url('https://picsum.photos/200?blur=2');">
        <footer align="left">
          <ion-card-title class="bold fs-16">Salmon Tartar</ion-card-title>
          <p class="fs-10">Tets uhdsb hjksd hjb sdhj jkTets </p>
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="7" class="bold ">120 UAH</ion-col>
            <ion-col size="5" align="right" class="bold">
              4.7
            </ion-col>
          </ion-row>
        </footer>
      </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card style="background-image: url('https://picsum.photos/200?blur=2');">
        <footer align="left">
          <ion-card-title class="bold fs-16">Salmon Tartar</ion-card-title>
          <p class="fs-10">Tets uhdsb hjksd hjb sdhj jkTets </p>
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="7" class="bold ">120 UAH</ion-col>
            <ion-col size="5" align="right" class="bold">
              4.7
            </ion-col>
          </ion-row>
        </footer>
      </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card style="background-image: url('https://picsum.photos/200?blur=2');">
        <footer align="left">
          <ion-card-title class="bold fs-16">Salmon Tartar</ion-card-title>
          <p class="fs-10">Tets uhdsb hjksd hjb sdhj jkTets </p>
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="7" class="bold ">120 UAH</ion-col>
            <ion-col size="5" align="right" class="bold">
              4.7
            </ion-col>
          </ion-row>
        </footer>
      </ion-card>
  </ion-slide>
  <ion-slide>
      <ion-card style="background-image: url('https://picsum.photos/200?blur=2');">
        <footer align="left">
          <ion-card-title class="bold fs-16">Salmon Tartar</ion-card-title>
          <p class="fs-10">Tets uhdsb hjksd hjb sdhj jkTets </p>
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col size="7" class="bold ">120 UAH</ion-col>
            <ion-col size="5" align="right" class="bold">
              4.7
            </ion-col>
          </ion-row>
        </footer>
      </ion-card>
  </ion-slide>
</ion-slides>