<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overview">
      <i class="ri-home-4-line ri-xl before"></i>
      <i class="ri-home-4-fill ri-xl after"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <i class="ri-heart-line ri-xl before"></i>
      <i class="ri-heart-fill ri-xl after"></i>
      <ion-label>Favourite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <i class="ri-heart-line ri-xl before"></i>
      <i class="ri-heart-fill ri-xl after"></i>
      <ion-label>Shopping Cart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <i class="ri-user-6-line ri-xl before"></i>
      <i class="ri-user-6-fill ri-xl after"></i>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
