


<ion-slides [options]="custom" class="ion-no-padding">
  <ion-slide>
    <ion-item lines="none" detail="false">
      <ion-icon slot="start" name="fast-food-outline"></ion-icon>
      <ion-label color="dark">
        <span class="fs-14">Resturants</span>
      </ion-label>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item lines="none" detail="false">
      <ion-icon slot="start" name="cafe-outline"></ion-icon>
      <ion-label color="dark">
        <span class="fs-14" color="dark">Coffee Shops</span>
      </ion-label>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item lines="none" detail="false">
      <ion-icon slot="start" name="fast-food-outline"></ion-icon>
      <ion-label color="dark">
        <span class="fs-14">Resturants</span>
      </ion-label>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item lines="none" detail="false">
      <ion-icon slot="start" name="cafe-outline"></ion-icon>
      <ion-label color="dark">
        <span class="fs-14" color="dark">Coffee Shops</span>
      </ion-label>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item lines="none" detail="false">
      <ion-icon slot="start" name="fast-food-outline"></ion-icon>
      <ion-label color="dark">
        <span class="fs-14">Resturants</span>
      </ion-label>
    </ion-item>
  </ion-slide>
  <ion-slide>
    <ion-item lines="none" detail="false">
      <ion-icon slot="start" name="cafe-outline"></ion-icon>
      <ion-label color="dark">
        <span class="fs-14" color="dark">Coffee Shops</span>
      </ion-label>
    </ion-item>
  </ion-slide>
</ion-slides>